@import "~styles/variables.scss";

.dashboardHeader {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $xl-spacing 0;
  flex-wrap: wrap;

  @media only screen and (min-width: 52em) {
    padding-bottom: ($xxl-spacing * 2);
    justify-content: space-between;
    flex-direction: row;
  }
}

.dashboardAvatar {
  margin-bottom: $l-spacing;

  @media only screen and (min-width: 52em) {
    margin-bottom: 0;
  }
}

.statsContainer {
  display: flex;
  align-items: center;
}

.stats {
  display: flex;

  @media only screen and (min-width: 65em) {
    padding-left: $xl-spacing;
  }
}

.stat {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: $l-spacing 0;
  padding: 0 $l-spacing;

  &:not(:last-child) {
    padding-right: $l-spacing;
    border-right: $base-border;
  }

  @media only screen and (min-width: 48em) {
    &:last-child {
      padding-right: 0;
    }
  }

  &:not(:first-child) {
    padding-left: $l-spacing;
  }

  &Label {
    line-height: 1.4;
    padding-top: $base-spacing;
  }
}

.alignLeft {
  text-align: left;
}
