@import "~styles/variables.scss";

.container {
  outline: none;
  .trigger {
    outline: none;
  }
  position: relative;
  display: inline-block;
}

.content {
  display: none;
  position: absolute;
  background-color: $brand-white;
  border-radius: $base-border-radius;
  z-index: 1;
}

.trigger {
  cursor: pointer;
}

.contentLeft {
  right: 0px;
}

.content.show {
  display: block;
}
