@import "~styles/variables.scss";

.app {
  height: 100%;
  width: 100%;
}

.body {
  padding-top: $header-height-sm;
  height: 100%;
  box-sizing: border-box;
  background-color: $brand-nearWhite;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  @media only screen and (min-width: 48em) {
    margin-left: $base-sidebar-width;
    padding-top: $header-height-lg;
  }
}

.loadingBody {
  height: 100%;
  width: 100%;
  background-color: $brand-lightGrey;
  display: flex;
  align-items: center;
  justify-content: center;
}
