@import "~styles/variables.scss";

.bountyCard {
  margin-bottom: $base-spacing;

  @media only screen and (min-width: 48em) {
    margin-bottom: $m-spacing;
  }
}

.pill {
  margin-right: $s-spacing;
  margin-bottom: $s-spacing;
}

.titleText {
  margin-bottom: $s-spacing;
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.categoryList {
  margin-top: $s-spacing;
  display: flex;
  flex-flow: row wrap;
}

.avatar {
  margin-top: $base-spacing;
}

.bountyPrimaryData {
  order: 1;
}

.bountyMetaData {
  flex-grow: 0;
  order: 3;
  margin-top: $l-spacing;

  @media only screen and (min-width: 48em) {
    margin-top: 0;
    order: 2;
  }
}

.detailGroup {
  display: block;
  margin-bottom: $m-spacing;
  word-wrap: break-word;

  &:last-child {
    margin-bottom: 0;
  }
}

.detailIcon {
  display: inline-block;
  width: $m-spacing;
  margin-right: $s-spacing;
}

.detailInput {
  margin-right: $s-spacing;
}

.bountyPrize {
  order: 2;

  @media only screen and (min-width: 48em) {
    order: 3;
  }
}

.price {
  text-align: right;
}

.detailLabel {
}

.usd {
  margin-bottom: $base-spacing;
}
