@import "~styles/variables.scss";
@import "../BaseStyles.module.scss";

.network {
  @include statContainer;
}

.networkStatsHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: $l-spacing;

  > p {
    margin-right: $m-spacing;
  }

  > div {
    margin-top: -$s-spacing;
  }
}

.networkStatsContainer {
  display: flex;
  justify-content: space-around;
}

.networkStatCircle {
  display: flex;
  flex-direction: column;
  padding: 0 $base-spacing;
  align-items: center;
  width: 110px;

  &Label {
    padding-top: $m-spacing;
    line-height: $base-line-height / 1.5;
  }
}

.reviewsModalLink {
  text-decoration: underline;
  cursor: pointer;
}
