@import "~styles/variables.scss";

.header {
  width: 100%;
  height: $header-height-sm;
  box-shadow: $base-box-shadow;
  background-color: $brand-white;
  position: fixed; /* Stay in place */
  z-index: 10; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  display: flex;
  align-items: center;

  @media only screen and (min-width: 65em) {
    height: $header-height-lg;
  }
}

.profileDropdown {
  box-shadow: $base-box-shadow;
  background-color: $brand-white;
  border-radius: $base-border-radius;
}

.iconArea {
  background-color: $brand-purple;
  font-size: 40px;
  height: $header-height-sm;
  width: $header-height-sm;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (min-width: 65em) {
    height: $header-height-lg;
    width: $header-height-lg;
  }
}

.network {
  display: none;
  margin-left: $xl-spacing;

  @media only screen and (min-width: 48em) {
    display: block;
  }
}

.sideNavTrigger {
  cursor: pointer;
  display: block;
  margin-left: $l-spacing;
  @media only screen and (min-width: 48em) {
    display: none;
  }
}

.button {
  margin-right: $base-spacing;
  padding: 0 $m-spacing;

  @media only screen and (min-width: 48em) {
    padding: 0 $l-spacing;
  }

  @media only screen and (min-width: 65em) {
    margin-right: $l-spacing;
  }
}

.buttonArea {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.desktopButtonText {
  display: none;
  @media only screen and (min-width: 48em) {
    display: block;
  }
}

.mobileButtonText {
  display: block;
  @media only screen and (min-width: 48em) {
    display: none;
  }
}

.notification {
  margin-right: 20px;
}

.profile {
  margin-right: 20px;
}

.profileDropdown {
  top: 52px;
}
