@import "~styles/variables.scss";

.leaderboardPage {
  height: 100%;
  width: 100%;
}

.leaderboardHeader {
  height: 250px;
  background-color: $brand-purple;
  margin: 0 -2rem 0 -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboardHeaderBody {
  margin-bottom: 20px;
}