@import "~styles/variables.scss";

.leaderboardPage {
  height: 100%;
  width: 100%;
}

.leaderboardHeader {
  height: 30%;
  background-color: $brand-purple;
}

.leaderboardHeaderBody {
  margin-bottom: 20px;
}