@import "~styles/variables.scss";

.leaderboardPage {
  height: 100%;
  width: 100%;
}

.leaderboardHeader {
  height: 300px;
  width: 100%;
  background-color: $brand-purple;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.leaderboardHeaderBody {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.leaderboardBody {
  position: absolute;
  width: 40%;
  top: 20%;
  left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadMore {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 200px;
}