@import "~styles/variables.scss";

.createBounty {
}

.centeredBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardContent {
  text-align: left;
  margin-bottom: 0;
  padding: 0;

  @media only screen and (min-width: 48em) {
    margin-bottom: $xxl-spacing;
    padding: $xl-spacing;
  }
}

.markdownEditor {
  height: 15em;
}

.input:not(:last-child) {
  padding-bottom: $l-spacing;

  @media only screen and (min-width: 48em) {
    padding-bottom: 0;
  }
}

.buttonContainer {
  display: block;
  border-top: $base-border;
  text-align: center;
  margin-left: -$l-spacing;
  margin-right: -$l-spacing;
  padding-top: $xl-spacing;
  padding-bottom: $xl-spacing;
  margin-bottom: -$m-spacing;

  @media only screen and (min-width: 48em) {
    margin-left: -($xxl-spacing + $m-spacing);
    margin-right: -($xxl-spacing + $m-spacing);
    margin-bottom: -$l-spacing;
    padding-bottom: 0;
  }
}

.submitError {
  margin-top: $base-spacing;
}
