@import "~styles/variables.scss";

.createBounty {
}

.centeredBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardContent {
  text-align: left;
  margin-bottom: $xxl-spacing;
}

.markdownEditor {
  height: 15em;
}

.buttons {
  text-align: center;
}

.submitError {
  margin-top: $base-spacing;
}
