
{
  "presets": ["react-app"],
  "plugins": [
    ["import", [{
      "libraryName": "lodash",
      "libraryDirectory": "fp",
      "camel2DashComponentName": false,
    }, {
      "libraryName": "containers",
      "libraryDirectory": "",
      "camel2DashComponentName": false,
    }, {
      "libraryName": "hocs",
      "libraryDirectory": "",
      "camel2DashComponentName": false,
    }, {
      "libraryName": "explorer-components",
      "libraryDirectory": "",
      "camel2DashComponentName": false,
    }, {
      "libraryName": "layout",
      "libraryDirectory": "",
      "camel2DashComponentName": false,
    }]],
    "react-hot-loader/babel",
  ]
}