@import "~styles/variables.scss";

.zeroState {
  text-align: center;
}

.icon {
  margin-bottom: $xl-spacing;
}

.iconStyles {
}

.title {
  margin-bottom: 15px;
}

.text {
  line-height: 1.5em;
}

.subText {
  line-height: 1.5em;
  margin-top: $m-spacing;
}

.action {
  margin-top: 40px;
}
