@import "~styles/variables.scss";

.leaderCard {
  //border-bottom: $base-border;
}

.avatar {
}

.place {
  text-align: left;
  margin-top: $s-spacing
}

.price {
  text-align: right;
}

.usd {
  margin-bottom: $base-spacing;
}
