@import "~styles/variables.scss";

.container {
  display: flex;
  align-items: center;
}

.details {
  margin-top: $m-spacing;
}

.value {
  margin-left: -1rem;
  word-break: normal !important;
}

.usd {
}

.link {
  color: inherit;
}

.link:hover {
  color: $brand-blue;
  text-decoration: underline;
}
