@import "~styles/variables.scss";

.details {
  margin-top: $m-spacing;
}

.value {
  word-break: normal !important;
  text-align: right;
  justify-content: flex-end;
}

.usd {
  padding-bottom: $base-spacing;
}

.link {
  color: inherit;
}

.link:hover {
  color: $brand-blue;
  text-decoration: underline;
}
