@import "~styles/variables.scss";

.submissionItemRow:last-child {
  margin-bottom: $xxl-spacing * 3;

  @media only screen and (min-width: 48em) {
    margin-bottom: 0;
  }
}

.details {
  margin-top: $m-spacing;
}

.value {
  word-break: normal !important;
  text-align: right;
  justify-content: flex-end;
  padding: $s-spacing 0;
}

.usd {
  padding-bottom: $base-spacing;
}

.link {
  color: inherit;
  line-height: $line-height-small;
}

.link:hover {
  color: $brand-blue;
  text-decoration: underline;
}
