@import "~styles/variables.scss";

.button {
  border-radius: 3px;
  position: relative;
  border: none;
  box-shadow: $base-box-shadow;
  cursor: pointer;
  display: inline-block;
  font-size: $h4-font-size;
  padding: 10px 15px;
  white-space: nowrap;
}

.fitWidth {
  width: 100%;
}

.icon {
  margin-right: 10px;
}

.disabled {
  border: none;
  box-shadow: none;
}

.buttonLoading {
  cursor: default;
}

.primary {
  background-color: $brand-blue;
  color: $brand-nearWhite;

  &:hover {
    background-color: $brand-blue-hover;
  }

  &.disabled {
     background-color: $brand-blue-disabled;
     color: $brand-white;
     cursor: default;
  }
}

.secondary {
  background-color: $brand-white;
  border: 1px solid $base-border-color;
  color: $brand-darkGrey;

  &:hover {
    background-color: $brand-nearWhite;
  }

  &.disabled{
     background-color: $brand-nearWhite;
     border: none;
     color: $brand-grey;
     cursor: default;
  }
}

.destructive {
  background-color: $brand-destructive;
  color: $brand-disabled;

  &:hover {
    background-color: $brand-destructive-hover;
  }

  &.disabled{
     background-color: $brand-destructive-disabled;
     color: $brand-disabled;
     cursor: default;
  }
}

.action {
  background-color: $brand-green;
  color: $brand-disabled;

  &:hover {

  }

  &.disabled {

  }
}

.link {
  background-color: none;
  color: $brand-blue;
  text-decoration: underline;
  border: none;
  box-shadow: none;

  &:hover {
    color: $brand-blue-hover;
  }

  &.disabled {
    color: $brand-blue-disabled;
  }
}


.loader,
.loader:after {
  border-radius: 50%;
  width: .8em;
  height: .8em;
}

.loader {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  text-indent: -9999em;
  border-top: .3em solid rgba(255, 255, 255, 0.2);
  border-right: .3em solid rgba(255, 255, 255, 0.2);
  border-bottom: .3em solid rgba(255, 255, 255, 0.2);
  border-left: .3em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.childwrapper {
  visibility: hidden;
}
