@import "~styles/variables.scss";

.button {
  border-radius: 3px;
  border: none;
  box-shadow: $base-box-shadow;
  cursor: pointer;
  display: inline-block;
  font-size: $body-font-size;
  padding: 0 $m-spacing;
}

.disabled {
  border: none;
  box-shadow: none;
}

.primary {
  background-color: $brand-purple;
  color: $brand-nearWhite;
  &.disabled {
     background-color: $brand-purple-disabled;
     color: $brand-white;
     cursor: default;
  }
}

.primary:hover {
  background-color: $brand-purple-hover;
  &.disabled {
     background-color: $brand-purple-disabled;
  }
}

.secondary {
  background-color: $brand-white;
  border: 1px solid $base-border-color;
  color: $brand-darkGrey;
  &.disabled{
     background-color: $brand-nearWhite;
     border: none;
     color: $brand-grey;
     cursor: default;
  }
}

.secondary:hover {
  background-color: $brand-nearWhite;
  &.disabled {
     background-color: $brand-nearWhite;
  }
}

.destructive {
  background-color: $brand-destructive;
  color: $brand-disabled;
  &.disabled{
     background-color: $brand-destructive-disabled;
     color: $brand-disabled;
     cursor: default;
  }
}

.destructive:hover {
  background-color: $brand-destructive-hover;
  &.disabled {
     background-color: $brand-destructive-disabled;
  }
}

.link {
  background-color: none;
  color: $brand-purple;
  text-decoration: underline;
  border: none;
  box-shadow: none;
  &.disabled {
    color: $brand-purple-disabled;
  }
}

.link:hover {
  color: $brand-purple-hover;
  &.disabled {
    color: $brand-purple-disabled;
  }
}

.clearFilter {
  background-color: none;
  color: $brand-blue;
  text-decoration: underline;
  border: none;
}

.create {
  background-color: $brand-blue;
  color: white;
}

.icon {
  height: 40px;
  width: auto;
}

.small {
  height: 40px;
  width: auto;
}

.medium {
  height: 40px;
  width: auto;
}

.large {
  height: 40px;
  width: auto;
}
