@import '~styles/variables.scss';

.h1 {
  font-size: $h1-font-size;
}

.h2 {
  font-size: $h2-font-size;
}

.h3 {
  font-size: $h3-font-size;
}

.h4 {
  font-size: $h4-font-size;
}

.h5 {
  font-size: $h5-font-size;
}

.Body {
  font-size: $body-font-size;
}

.Small {
  font-size: $body-small-font-size;
}

.lineHeight-default {
  line-height: $base-line-height;
}

.lineHeight-small {
  line-height: $line-height-small;
}

.lineHeight-reset {
  line-height: $line-height-reset;
}

.Link {
  color: $brand-blue;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.inputLabel {
  color: $brand-grey;
  margin-bottom: $base-spacing;
  font-size: $body-small-font-size;
}

.fontWeight-regular {
  font-weight: 400;
}

.fontWeight-medium {
  font-weight: 500;
}

.fontWeight-bold {
  font-weight: 600;
}

.align {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.purple {
  color: $brand-purple;
}

.blue {
  color: $brand-blue;
}

.orange {
  color: $brand-orange;
}

.green {
  color: $brand-green;
}

.red {
  color: $brand-red;
}

.black {
  color: $brand-black;
}

.lightGrey {
  color: $brand-lightGrey;
}

.defaultGrey {
  color: $brand-grey;
}

.darkGrey {
  color: $brand-darkGrey;
}

.white {
  color: white;
}

.semiTransparentWhite {
  color: rgba(white, 0.65);
}

.underline {
  text-decoration: underline;
}

.noUnderline {
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.inline {
  display: inline;
}
