@import "~styles/variables.scss";

.H1 {
  font-size: $h1-font-size;
}

.H2 {
  font-size: $h2-font-size;
}

.H3 {
  font-size: $h3-font-size;
}

.H4 {
  font-size: $h4-font-size;
}

.CardHeading {
  font-size: $base-font-size;
}

.Body {
  font-size: $body-font-size;
}

.BodySmall {
  font-size: $body-small-font-size;
}

.Small {
  font-size: 10px;
}

.FormLabel {
  color: $brand-grey;
  font-size: $body-small-font-size;
}

.FormInvalid {
  font-size: $body-font-size;
  color: $brand-red;
}

a {
  color: $brand-blue;
}

.Link {
  text-decoration: underline;
  color: $brand-blue;
  cursor: pointer;
}

.Alt {
  color: $brand-grey;
  font-size: $body-small-font-size;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 500;
}

.purple {
  color: $brand-purple;
}

.blue {
  color: $brand-blue;
}

.orange {
  color: $brand-orange;
}

.green {
  color: $brand-green;
}

.red {
  color: $brand-red;
}

.black {
  color: $brand-black;
}

.lightGrey {
  color: $brand-lightGrey;
}

.grey {
  color: $brand-grey;
}

.darkGrey {
  color: $brand-darkGrey;
}

.white {
  color: white;
}

.noUnderline {
  text-decoration: none;
}
