@import "~styles/variables.scss";

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.text {

}

.img {
  height: 95%;
  width: 95%;
  border-radius: 50%;
}

.white {
  background-color: white;
  box-shadow: $brand-circle-box-shadow;
}

.purple {
  background-color: $brand-purple;
}

.blue {
  background-color: $brand-blue;
}

.orange {
  background-color: $brand-orange;
}

.green {
  background-color: $brand-green;
}

.red {
  background-color: $brand-red;
}

.mini {
  height: 30px;
  width: 30px;
}

.small {
  height: 50px;
  width: 50px;
}

.medium {
  height: 100px;
  width: 100px;
}

.large {
  height: 200px;
  width: 200px;
}
