@import "~styles/variables.scss";

.chip{
  color: $brand-grey;
  // box-shadow: $brand-chip-box-shadow;
  border: 1px solid $brand-lightGrey;
  white-space: nowrap;
  width: fit-content;
  height: fit-content;
  font-size: 11px;
  font-weight: 400;
  padding: 5px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round {
  border-radius: 16px;
}

.rectangle {
  border-radius: 3px;
}

.close {
}

.closeButton {
  cursor: pointer;
  margin-left: 10px;
}

.purple {
  background-color: $brand-purple;
}

.blue {
  background-color: $brand-blue;
}

.orange {
  background-color: $brand-orange;
}

.green {
  background-color: $brand-green;
}

.red {
  background-color: $brand-red;
}

.black {
  background-color: $brand-black;
}

.lightGrey {
  background-color: $brand-lightGrey;
}

.grey {
  background-color: $brand-grey;
}

.darkGrey {
  background-color: $brand-darkGrey;
}

.purpleBorder {
  border-color: $brand-purple;
}

.blueBorder {
  border-color: $brand-blue;
}

.orangeBorder {
  border-color: $brand-orange;
}

.greenBorder {
  border-color: $brand-green;
}

.redBorder {
  border-color: $brand-red;
}

.blackBorder {
  border-color: $brand-black;
}

.lightGreyBorder {
  border-color: $brand-lightGrey;
}

.greyBorder {
  border-color: $brand-grey;
}

.darkGreyBorder {
  border-color: $brand-darkGrey;
}