@import '~styles/variables.scss';

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  > div {
    flex: 1;
    padding-right: 0;

    @media only screen and (min-width: 35em) {
      padding-right: $base-spacing;
    }
  }

  button {
    margin-top: $base-spacing;
  }

  @media only screen and (min-width: 35em) {
    flex-direction: row;

    button {
      margin-top: 0;
    }
  }
}

.growingTextArea {
  min-height: $base-input-height;
  max-height: $base-input-height * 5;
  resize: none;
}
