@import "~styles/variables.scss";

.container {
  display: flex;
  flex-direction: row;
  padding: $base-spacing 0;

  > div {
    flex: 1;
    padding-right: $base-spacing;
  }
}

.textbox {
  flex-grow: 1;
}
