@import '~styles/variables.scss';

.container {
  display: flex;
  justify-content: center;
}

.commentFieldInput textarea {
  min-height: $base-input-height;
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  padding: $m-spacing;
  resize: none;

  &:focus {
    box-shadow: inset 0 1px 0 0 $brand-blue, inset 0 -1px 0 0 $brand-blue,
      inset 1px 0 0 0 $brand-blue;
    border: 1px solid $brand-blue;
    border-right: none;
  }
}

.commentFieldButton {
  align-items: center;
  justify-content: center;
  display: flex;
  height: auto;
  width: $base-input-height;
  vertical-align: bottom;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;

  &:hover {
    transform: translateY(0);
  }
}
