@import "~styles/variables.scss";

.explorerPage {
  width: 100%;
  height: fit-content;
  display: flex;
  margin-top: 55px;
  margin-left: 55px;
}

.filterColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: white;
  width: 25%
}

.searchBar {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  width: 100%;
  border-bottom: 1px solid $brand-lightGrey;
}

.refineBy {
  width: 100%;
  display: flex;
}

.bountiesColumn {
  background-color: $brand-lightGrey;
  width: 75%;
  padding: 50px 100px;
}

.sortByBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.count {
  width: 130px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.sortBy {
  width: 400px;
}