@import "~styles/variables.scss";

.explorerPage {
/*  width: 100%;
  height: fit-content;
  display: flex;*/
}

.filterColumn {
  margin-left: -2rem;
  padding: 30px;
  background-color: white;
}

.searchBar {
/*  display: flex;
  justify-content: center;*/
  padding-bottom: 30px;
/*  width: 100%;*/
  border-bottom: 1px solid $brand-lightGrey;
}

.refineBy {
  width: 100%;
  display: flex;
}

.bountiesColumn {
  background-color: $brand-nearWhite;
  padding: 50px 100px;
}

.sortByBar {
  height: 50px;
}

.count {
  width: 130px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.sortBy {
  width: 400px;
}

.loadMoreButton {
  width: 100%;
  display: flex;
  justify-content: center;
}
