@import "~styles/variables.scss";

.leaderboardItem {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.avatar {
  flex: 3;
  text-align: left;

  p {
    text-overflow: ellipsis;

    @media only screen and (min-width: 35em) {
      font-size: $h3-font-size;
    }
  }
}

.place {
  text-align: left;
  margin-right: $l-spacing;

  @media only screen and (min-width: 35em) {
    font-size: $h3-font-size;
  }
}

.price {
  padding-left: $m-spacing;
}

.usd {
  @media only screen and (min-width: 35em) {
    font-size: $h3-font-size;
  }
}
