@import "~styles/variables.scss";

.leaderboard {
  margin-top: -50px;
  margin-bottom: 50px;
  box-shadow: 0 0 1px 0 $brand-grey;
  padding: 25px;
  height: fit-content;
  background-color: white;
  border-radius: 3px;
}

.cardContainer {
  padding: 15px;
  border-bottom: 1px solid $brand-lightGrey;
}

.cardContainer:last-child {
  border-bottom: none;
}

.cardLeft {
/*  width: 70%;*/
/*  display: flex;
  justify-content: space-between;
  align-items: center;*/
}

.index {
/*  display: flex;
  justify-content: center;*/
}

.profileInfo {
/*  display: flex;
  width: 70%;
  justify-content: space-between;*/
}

.nameBox {
/*  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;*/
}

.name {
  padding-bottom: 5px;
/*  display: flex;
  justify-content: flex-start;*/
}

.address {
/*  display: flex;
  justify-content: flex-start;*/
}

.cardRight {
  text-align: right;
/*  display: flex;
  flex-direction: column;
  justify-content: flex-end;*/
}

.usd {
  padding-bottom: 5px;
}

.ethText {
/*  display: flex;
  justify-content: flex-end;*/
}
