@import "~styles/variables.scss";

.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid $brand-lightGrey;
}

.tab {
  width: 100%;
}