@import "~styles/variables.scss";

.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid $brand-lightGrey;
}

.tab {
  flex-grow: 1;
  text-align: center;
  width: auto;
  cursor: pointer;
  padding: 5px 0;
}

.notification {
  margin-left: 30px;
  border-radius: 8px;
  background-color: $brand-lightGrey;
  padding: 0 3px;
}

.notification.blue {
  background-color: $brand-blue; 
}

.notification.green {
  background-color: $brand-green;
  color: $brand-white;
}

.notification.lightGrey {
  background-color: $brand-lightGrey;
  color: $brand-white;
}

.active {
  border-bottom: 2px solid $brand-blue;
}

.notActive {

}