@import "~styles/variables.scss";

.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $brand-lightGrey;
}

.tab {
  display: flex;
  align-items: center;
  width: auto;
  padding: ($base-spacing * 1.5) $base-spacing;
  cursor: pointer;
  border-bottom: 2px solid transparent;

  &:not(:last-child) {
    margin-right: $l-spacing;
  }
}

.notification {
  margin-left: $base-spacing;
  border-radius: 50px;
  background-color: $brand-nearWhite;
  padding: 0 $base-spacing 2px;
}

.notification.blue {
  background-color: $brand-blue;
}

.notification.green {
  background-color: $brand-green;
}

.notification.lightGrey {
  background-color: $brand-lightGrey;
}

.active {
  border-bottom: 2px solid $brand-blue;
}
