input[type='radio']:after {
  width: 15px;
  height: 15px;
  left: -1px;
  border-radius: 15px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  /* outline: 2px solid rgb(224, 224, 224); */
  box-shadow: 0 0 15px rgb(224, 224, 224);
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  left: -1px;
  border-radius: 15px;
  position: relative;
  background-color: rgb(72, 148, 255);
  content: '';
  display: inline-block;
  visibility: visible;
  /* outline: 2px solid rgb(224, 224, 224); */
  box-shadow: 0 0 15px rgb(224, 224, 224);
}
