@import '~styles/variables.scss';

.dropdownSearch {
  width: 100%;
  margin-bottom: -$base-spacing;
}

.pillBar {
  padding-top: $base-spacing;
  display: flex;
  flex-wrap: wrap;
}

.pill {
  padding-right: 5px;
  padding-top: 5px;
}

.error {
  :global(.Select-control) {
    border-color: $brand-red;
  }
}

.inputHelpText {
  padding-top: $base-spacing;
  line-height: $line-height-small;
}
