@import '~styles/variables.scss';

.markdownEditor {
  height: 100%;
  width: 100%;

  textarea {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-top: $xl-spacing * 2;
    padding-bottom: $xl-spacing;
  }
}

.overlay {
  cursor: pointer;
  padding: $s-spacing;
}

.overlay:hover {
  color: $brand-blue-hover;
}

.overlayIcon {
  margin-right: $base-spacing;
}
