@import "~styles/variables.scss";

.modalBody {
  margin-top: $xl-spacing;
  padding-bottom: 0 !important;
  max-height: 25rem;
  margin-left: -$m-spacing;
  margin-right: -$m-spacing;
}

.loadMoreButton {
  width: 100%;
  text-align: center;
  margin-top: $m-spacing;
}
