.switch {
  height: 26px;
  border-radius: 13px;
  cursor: pointer;
  display: inline-block;
  width: 250px;
  background: rgb(64, 35, 148);
}

.switch-toggle {
  color: #5a28c6;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #999;
  width: 125px;
  height: 24px;
  left: 0;
  top: -21px;
  border-radius: 13px;
  background: white;
  position: relative;
  transition: left 0.2s ease-in-out;
}

.switch.on .switch-toggle {
  left: 124px;
}

.switch.disabled {
  cursor: not-allowed;
}

.optionText {
  align-items: center;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  color: rgb(127, 80, 238);
}
