@import "~styles/variables.scss";

.bountyCardContainer {
  border-left: 3px solid transparent;
  display: flex;
  justify-content: space-between;
  padding: $m-spacing;
  background-color: $brand-white;
  border-radius: $base-border-radius;
  margin-bottom: $m-spacing;

  &:hover {
    border-left: 3px solid $brand-purple;
    box-shadow: $m-box-shadow;

    .bountyTitle {
      text-decoration: underline;
    }
  }
}

.leftColumn {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.bountyTitle {
  line-height: 1.4;
  padding-bottom: $m-spacing;
  text-decoration: none;

  a {
    color: $brand-black;
    display: block;
    font-weight: 500;
    text-decoration: inherit;

    &:hover {
      color: $brand-blue;
    }
  }
}

.chipBar {
  display: block;
  padding-bottom: $m-spacing - $base-spacing;
}

.chip {
  display: inline-block;
  margin: 0 $s-spacing $base-spacing 0;
}

.profileBar {
  align-items: center;
  display: flex;
}

.addressText {
  padding-left: $m-spacing;
}

.dataCell {
  display: flex;
  margin-bottom: $m-spacing;
}

.dataIcon {
  display: flex;
  justify-content: center;
  width: 10px;
  padding-right: 10px;
}

.dataCategory {
  padding-left: 5px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
