@import "~styles/variables.scss";

.chip {
  margin-right: 10px;
}

.bountyCardContainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.bountyCardLeftTop {
  width: 470px;
  display: flex;
  justify-content: flex-start;
}

.bountyCardLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bountyCardRight {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
