@import "~styles/variables.scss";

.details {
  display: flex;
  margin: $xxl-spacing 0;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;

  @media only screen and (min-width: 35em) {
    padding: $xxl-spacing 0;
    width: 100%;
    margin: 0 auto;
  }

  @media only screen and (min-width: 55em) {
    width: 80%;
  }

  @media only screen and (min-width: 75em) {
    padding: ($xxl-spacing * 2) 0;
    width: 100%;
  }

  &About {
    width: 100%;

    @media only screen and (min-width: 35em) {
      order: 1;
      width: 40%;
      padding-right: $m-spacing;
    }

    @media only screen and (min-width: 75em) {
      width: auto;
    }
  }

  &Skills {
    width: 100%;

    @media only screen and (min-width: 35em) {
      order: 3;
      width: 60%;
      padding-right: $m-spacing;
    }

    @media only screen and (min-width: 75em) {
      flex-wrap: wrap;
      order: 2;
      width: 20%;
    }
  }

  &Stats {
    width: 100%;

    @media only screen and (min-width: 35em) {
      order: 2;
      width: 60%;
    }

    @media only screen and (min-width: 75em) {
      order: 3;
      width: 25rem;
    }
  }

  &Elsewhere {
    width: 100%;

    @media only screen and (min-width: 35em) {
      order: 4;
      width: 40%;
    }

    @media only screen and (min-width: 75em) {
      order: 4;
      width: auto;
    }
  }
}

.detailsSection {
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;

  @media only screen and (min-width: 75em) {
    padding-top: 0;
    padding-bottom: 0;

    &:not(:last-child) {
      padding-right: $m-spacing;
    }
  }
}

.bodyLoading {
  min-height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
