@import "~styles/variables.scss";

.profileContainer {
  height: 100%;
}

.profileDetails {
  background: $brand-white;
}

.profileBountiesContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.profileBounties {
  align-items: stretch;
  background: $brand-nearWhite;
  border-top: $base-border;
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100%;
}

.zeroStateCentered {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.centeredItem {
  margin: 0 auto;
}

.explorerBody {
  @media only screen and (min-width: 48em) {
    padding: $l-spacing $base-spacing $xl-spacing $l-spacing;
  }

  @media only screen and (min-width: 65em) {
    padding-left: $m-spacing;
    padding-right: $m-spacing;
  }
}

.desktopFilter {
  display: none;
  @media only screen and (min-width: 48em) {
    display: block;
  }
}

.mobileFilter {
  display: block;
  @media only screen and (min-width: 48em) {
    display: none;
  }
}
