@import "~styles/variables.scss";

.textarea {
  resize: vertical;
  margin-top: $base-spacing;
  overflow: auto;
  background-color: $base-input-background;
  border: 1px solid $brand-lightGrey;
  border-radius: $base-border-radius;
  font-size: $body-font-size;
  padding: $m-spacing;
}

.textarea:focus {
  outline: 1px solid $brand-blue;
  border: 1px solid $brand-blue;
}

.error {
  border: 1px solid $brand-destructive;
  outline: 1px solid $brand-destructive;
}

.resizeNone {
  resize: none;
}

.small {
  min-height: 150px;
}

.medium {
  height: 230px;
}

.large {
  height: 400px;
}
