@import "~styles/variables.scss";

.textarea {
  resize: vertical;
  margin-top: 10px;
  overflow: auto;
  background-color: $base-input-background;
  border: 1px solid $brand-lightGrey;
  border-radius: 3px;
  padding: 5px;
}

.textarea:focus {
  outline: 1px solid $brand-blue;
  border: 1px solid $brand-blue;
}

.error {
  outline: 1px solid red;
}

.resizeNone {
  resize: none;
}

.small {
  min-height: 150px;
}

.medium {
  height: 400px;
  min-height: 200px;
}

.large {
  height: 600px;
}