@import "~styles/variables.scss";

.explorerBody {
  padding: 30px;
}

.bodyHeading {
  width: 100%;
  display: flex;
}

.bountyList {
  margin-top: 20px;
}

.bountyNumber {
  margin-right: 3px;
}

.sortGroup {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}

.sortByText {
  margin-right: $l-spacing;
}

.sortBy {
  display: flex;
  align-items: flex-end;
}
