@import "~styles/variables.scss";

.filterNav {
  display: none;
  padding: $xl-spacing;
  width: 20rem;

  @media only screen and (min-width: 48em) {
    display: block;
  }
}

.searchWrapper {
  padding-bottom: $l-spacing;
  border-bottom: $base-border;
}

.refineWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: $m-spacing;
}

.clearButton {
  margin-left: auto;
}

.stageFilter {
  margin-top: $xl-spacing;
}

.difficultyFilter {
  margin-top: $xl-spacing;
}

.categoryFilter {
  margin-top: $xl-spacing;
}

.groupText {
  margin-bottom: $m-spacing;
}
