@import "~styles/variables.scss";

.bodyLoading {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  min-height: 15rem;
}

.zeroState {
  max-width: 25rem;
  margin: $xxl-spacing auto;
}

.newCommentForm {
  position: relative;
  padding: $m-spacing;
  margin-left: -$m-spacing;
  margin-right: -$m-spacing;

  @media only screen and (min-width: 35em) {
    margin-left: -$l-spacing;
    margin-right: -$l-spacing;
    padding: $m-spacing $l-spacing;
  }
}

.listItem {
  padding: $l-spacing $m-spacing;
  position: relative;
  border-radius: $base-border-radius;
  margin-left: -$l-spacing;
  margin-right: -$l-spacing;
  margin-top: -$base-border-width;

  @media only screen and (min-width: 35em) {
    margin-left: -$l-spacing;
    margin-right: -$l-spacing;;
    padding: $l-spacing;
  }
}

.loadMoreButton {
  width: 100%;
  text-align: center;
  padding-top: $l-spacing;
}

.declinedNoteText {
  background-color: $brand-nearWhite;
  position: relative;
  margin-right: -$l-spacing;
  margin-left: -$l-spacing;
  padding: $base-spacing;
}

.bottomBorder {
  border-bottom: 0 solid $brand-nearWhite;
  position: relative;
  margin-right: -$l-spacing;
  margin-left: -$l-spacing;
}

.applicantsTab {
  margin-bottom: -$l-spacing;
}
