@import "~styles/variables.scss";

.applicantionItem {
  background-color: $brand-white;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;
  margin-bottom: $m-spacing;
  margin-left: -$base-spacing;
  margin-right: -$base-spacing;
  overflow: hidden;
  position: relative;

  &:first-child {
    margin-top: $m-spacing;
  }
}

.applicationHeader {
  align-items: center;
  background-color: $brand-nearWhite;
  display: flex;
  justify-content: space-between;
  padding: $m-spacing;
}

.applicationBody {
  padding: $m-spacing;
}

.applicationActions button {
  margin-left: $base-spacing;
}

.applicationDescription {
  padding-bottom: $base-spacing;
}

.applicationReply {
  border-top: $light-border;
  padding: $m-spacing;
}

.replyContent {
  width: 100%;
  text-align: left;
  line-height: $base-line-height;
  padding-left: $xxl-spacing + $base-spacing;
  white-space: pre-wrap;
  word-break: break-word;
  margin-top: -$m-spacing;
}

.declinedNoteText {
  background-color: $brand-nearWhite;
  padding: $base-spacing;
}

.faIcon {
  margin-right: $base-spacing;
}
