@import "~styles/variables.scss";

.details {
  text-align: left;
  line-height: $base-line-height;
  padding-left: $xl-spacing + $m-spacing;
  padding-top: $l-spacing;

  @media only screen and (min-width: 48em) {
    padding-left: 0;
    padding-top: 0;
  }
}

.timeStamp {
  padding-top: $base-spacing;
}
