@import '~styles/variables.scss';

.commentItem {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0 $base-spacing;

  @media only screen and (min-width: 48em) {
    padding: 0;
  }
}

.commentData {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.commentContent {
  text-align: left;
  line-height: $base-line-height;
  margin-top: -$m-spacing;
  padding-left: $xxl-spacing + $m-spacing;
}

.timeStamp {
  margin-left: $s-spacing;
}
