@import '~styles/variables.scss';

.commentItem {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: $m-spacing 0;

  &:not(:last-child) {
    margin-top: $base-spacing;
    // border-bottom: $base-border;
  }

  @media only screen and (min-width: 35em) {
    margin-left: 0;
    margin-right: 0;
  }
}

.commentData {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.commentContent {
  width: 100%;
  text-align: left;
  line-height: $base-line-height;
  padding-left: $xxl-spacing + $m-spacing;
  white-space: pre-wrap;
  word-break: break-word;
  margin-top: -$base-spacing;
}

.timeStamp {
  margin-left: $s-spacing;
}
