@import '~styles/variables.scss';

.submissionItem {
  background-color: $brand-white;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;
  margin-bottom: $m-spacing;
  margin-top: $m-spacing;
  margin-left: -$base-spacing;
  margin-right: -$base-spacing;
  overflow: hidden;
  position: relative;

  &:not(:last-child) {
    border-bottom: $base-border;

    @media only screen and (min-width: 48em) {
      border-bottom: $base-border;
    }
  }

  @media only screen and (min-width: 48em) {
    margin-bottom: $m-spacing;
    margin-top: $m-spacing;
    margin-left: -$base-spacing;
    margin-right: -$base-spacing;
  }
}

.submissionHeader {
  background-color: $brand-nearWhite;
  border-bottom: $base-border;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $base-spacing;

  @media only screen and (min-width: 48em) {
    padding: $m-spacing;
  }
}

.actionContainer {
  display: flex;
  align-items: center;

  & > * {
    margin-left: $base-spacing;
  }
}

.rateButton {
  display: none;

  @media only screen and (min-width: 35em) {
    display: inline-block;
  }
}

.submissionContents {
  padding: $m-spacing;
}

.submissionDescription {
  line-height: $base-line-height;
}

.submitTime {
  margin-bottom: $xl-spacing;

  @media only screen and (min-width: 48em) {
    margin-bottom: 0;
  }
}

.emailLink {
  background-color: $brand-white;
  border: $base-border;
  color: $brand-grey;
  width: $base-input-height;
  text-align: center;
  border-radius: $base-border-radius;
  cursor: pointer;
  display: none;
  height: $base-input-height;
  line-height: $base-input-height;
  transition: transform 0.1s ease-in-out;

  @media only screen and (min-width: 35em) {
    display: inline-block;
  }

  &:hover {
    border-color: $brand-mediumGrey;
    color: $brand-blue;
    transform: translateY(-2px);
    box-shadow: $base-box-shadow;
  }

  &:active,
  &:focus {
    transform: translateY(0px);
    box-shadow: none;
  }
}

.submissionMedia {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.submissionMediaItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100px;
  width: 100px;
  border: $base-border;
  border-radius: $base-border-radius;
  margin-top: $m-spacing;
  padding: $base-spacing;
  transition: transform 0.1s ease-in-out;
  overflow: hidden;

  &:not(:last-child) {
    margin-right: $m-spacing;
  }

  &:hover {
    background-color: $brand-light-blue;
    box-shadow: $base-box-shadow;
    color: $brand-blue;
    transform: translateY(-2px);
    border-color: $brand-blue;
    cursor: pointer;

    .submissionMediaIcon,
    .fileName {
      color: $brand-blue;
    }
  }

  img {
    width: auto;
    height: 100%;
  }
}

.submissionMediaIcon {
  color: $brand-grey;
  margin-top: $m-spacing;
  text-align: center;
  font-size: 24px;
}

.fileName {
  color: $brand-grey;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: none;
  word-break: none;
  hyphens: none;
  display: block;
  white-space: nowrap;
  width: calc(100px - #{$base-spacing * 2});
}

.image {
  max-width: 100%;
  margin: 0;
  padding: $base-spacing;

  @media only screen and (min-width: 48em) {
    max-width: 300px;
  }
}

.submissionFooter {
  margin-top: $l-spacing;
}

.timePosted::after {
  content: '・';
  margin: 0 $s-spacing;
  display: inline-block;
}

.commentIcon {
  margin-right: $s-spacing;
}

.toggleComments {
  background-color: $brand-white;
  border-bottom-right-radius: $base-border-radius;
  border-bottom-left-radius: $base-border-radius;
  border: 0;
  border-top: $base-border;
  color: $brand-darkGrey;
  font-weight: 500;
  cursor: pointer;
  display: block;
  font-size: $body-font-size;
  outline: none;
  height: 50px;
  line-height: 50px;
  width: 100%;
  margin-top: $m-spacing;
  padding: 0;

  &:hover {
    color: $brand-black;

    .toggleIcon {
      color: $brand-blue;
    }
  }
}

.toggleIcon {
  color: $brand-grey;
  margin-right: $base-spacing;
  font-size: $base-font-size;
}
