@import "~styles/variables.scss";

.labelGroup {
  word-wrap: break-word;
  padding-left: $xl-spacing + $m-spacing;
  margin-right: $m-spacing;

  &:not(:last-child) {
    margin-bottom: $xl-spacing;
  }

  p {
    margin-bottom: $base-spacing;
  }
}

.contactInfo {
  p:first-child {
    margin-top: $xl-spacing;
  }
}

.detailsContainer {
  padding-right: 0;

  .labelGroup:last-child {
    margin-bottom: $xl-spacing;

    @media (min-width: 576px) {
      margin-bottom: 0;
    }
  }
}

.filter {
  text-align: left;
}

.avatarLabel {
  padding-top: $base-spacing;
}

.actionColumn {
  display: flex;
  padding-left: $xl-spacing + $xl-spacing;
  flex-direction: column;
  align-items: flex-start;

  @media only screen and (min-width: 48em) {
    align-items: flex-end;
    margin-top: 0;
    padding-left: 0;
  }
}

.actionButton {
  margin-top: $xl-spacing - $base-spacing;
  margin-bottom: $m-spacing;

  @media only screen and (min-width: 48em) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.submissionContents {
  //padding-top: $l-spacing;
}

.submissionDescription {
  line-height: $base-line-height;
}

.fileIcon {
  margin-right: $base-spacing;
}

.label {
  position: absolute;
  top: $xl-spacing;
  right: 0;
}

.fulfillmentStage {
  position: absolute;
  top: $l-spacing;
  right: $m-spacing;

  @media only screen and (min-width: 48em) {
    position: relative;
    margin-bottom: $m-spacing;
    top: 0;
    right: 0;
  }
}
