@import '~styles/variables.scss';

.submissionItem {
  &:not(:last-child) {
    border-bottom: $base-border;
    border-bottom-width: 4px;

    @media only screen and (min-width: 48em) {
      border-bottom: $base-border;
    }
  }

  @media only screen and (min-width: 48em) {
    margin-left: -$l-spacing;
    margin-right: -$l-spacing;
  }
}

.submissionHeader {
  border-bottom: $base-border;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $base-spacing;

  @media only screen and (min-width: 48em) {
    padding: $m-spacing;
  }
}

.actionContainer {
  display: flex;
  align-items: center;

  & > * {
    margin-left: $base-spacing;
  }
}

.detailsContainer {
  padding: 0 $m-spacing;
}

.labelGroup {
  word-wrap: break-word;

  &:not(:last-child) {
    margin: $xl-spacing 0;
  }
}

.submitTime {
  margin-bottom: $xl-spacing;

  @media only screen and (min-width: 48em) {
    margin-bottom: 0;
  }
}

.avatarLabel {
  padding-top: $base-spacing;
}

.metaDataContainer {
}

.submissionMetadata:not(:last-child) {
  margin-bottom: $base-spacing * 1.5;
}

.submissionDescription {
  line-height: $base-line-height;
}

.fileName {
  margin-bottom: $base-spacing;
}

.emailLink {
  border: $base-border;
  color: $brand-grey;
  height: $base-input-height;
  width: $base-input-height;
  text-align: center;
  line-height: $base-input-height;
  border-radius: $base-border-radius;
}

.label {
  position: absolute;
  top: $xl-spacing;
  right: 0;
}

.imageLink {
  display: block;
  max-width: 100%;
  border: $base-border;
  border-radius: $base-border-radius;
  margin-top: $m-spacing;

  &:hover {
    border-color: $brand-blue;
  }

  @media only screen and (min-width: 48em) {
    max-width: 300px;
  }
}

.image {
  max-width: 100%;
  margin: 0;
  padding: $base-spacing;

  @media only screen and (min-width: 48em) {
    max-width: 300px;
  }
}
