@import "~styles/variables.scss";

.statContainer {
  padding: 0 $l-spacing;
  display: flex;
  flex-flow: column;
  align-items: space-around;

  > p {
    flex: 1;
    margin-bottom: $xl-spacing;
  }
}
