@import "~styles/variables.scss";

@mixin statContainer($flex) {
  // height: 12rem;
  padding: 0 $l-spacing;
  flex-flow: column;
  flex: $flex;
  border-right: $base-border;

  > p {
    margin-bottom: $xl-spacing;
  }
}
