@import "~styles/variables.scss";

.pageCard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .card {
    border-radius: 0;
  }

  .body {
    border-radius: 0;
  }
}

.headerWrapper {
  text-align: center;
  padding-top: $l-spacing;
  padding-bottom: $l-spacing;
  @include banner-gradient;

  @media only screen and (min-width: 48em) {
    padding-bottom: $xl-spacing * 2;
  }
}

.contentWrapper {
}

.header {
}

.title {
  line-height: $base-line-height * 1.25;
}

.content {
  margin-bottom: $l-spacing;
  border-radius: 0;

  @media only screen and (min-width: 48em) {
    border-radius: $base-border-radius;
    margin-top: -$xxl-spacing;
  }
}

.break {
  margin: 0 -$l-spacing;
  border-bottom: $base-border;
  margin-top: $xxl-spacing;
  margin-bottom: $l-spacing;
}
