@import "~styles/variables.scss";
@import "~styles/reset.scss";

html {
  box-sizing: border-box;
  font-size: $base-font-size;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, sans-serif;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input,
textarea {
  appearance: none;
}

textarea {
  line-height: $base-line-height;
}

.modal-open {
  overflow: hidden !important;
}

.mask-open {
  overflow: hidden !important;
}

.page-body {
  overflow: auto;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.fullHeight {
  height: 100%;
}

a {
  color: $brand-blue;
  cursor: pointer;
  text-decoration: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  &:hover {
    text-decoration: underline;
  }
}

.markdownContent {
  color: $brand-darkGrey;
  font-size: $body-font-size;
  text-align: left;
  line-height: $base-line-height;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $brand-black;
    font-weight: 500;

    &:not(:first-child) {
      padding-top: $m-spacing;
    }
  }

  h1 {
    font-size: $h3-font-size;
    line-height: $line-height-large;
    padding-bottom: $m-spacing;
  }

  h2 {
    font-size: $h4-font-size;
    padding-bottom: $m-spacing;
  }

  h3 {
    font-size: $h5-font-size;
    padding-bottom: $m-spacing;
  }

  h5 {
    font-size: $h5-font-size;
    padding-bottom: $base-spacing;
  }

  p:not(:last-child) {
    padding-bottom: $l-spacing;
  }

  body {
    font-size: $body-font-size;
  }

  label {
    font-size: $body-small-font-size;
  }

  a {
    color: $brand-blue;
    text-decoration: underline;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }

  strong,
  b {
    font-weight: 700;
  }

  em {
    font-weight: 400;
    font-style: italic;
  }

  blockquote {
    color: $brand-grey;
    font-style: italic;
    padding-left: $m-spacing;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      border-left: 2px solid $brand-blue;
      color: $brand-blue;
      display: inline-block;
    }

    &:not(:last-child) {
      margin-bottom: $l-spacing;
    }
  }

  //List styles

  ul,
  ol {
    padding-bottom: $m-spacing;
  }

  ul {
    list-style: none;

    li {
      position: relative;
      padding-left: $m-spacing;

      &::before {
        content: "∙";
        display: inline-block;
        color: $brand-blue;
        font-size: $base-font-size;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  ol {
    list-style: none;
    counter-reset: ol-list-counter;

    li {
      counter-increment: ol-list-counter;

      &::before {
        content: counter(ol-list-counter) ".";
        display: inline-block;
        color: $brand-blue;
        text-align: right;
        margin-right: 0.5rem;
      }
    }
  }

  ul ul,
  ol ul {
    li {
      margin-left: $xl-spacing;
      position: relative;
      padding-left: $m-spacing;

      &::before {
        content: "∙";
        display: inline-block;
        color: $brand-blue;
        font-size: $base-font-size;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  ol ol,
  ul ol {
    li {
      margin-left: $l-spacing;
      position: relative;

      &::before {
        content: counter(ol-list-counter) ".";
        display: inline-block;
        color: $brand-blue;
        font-size: $body-font-size;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  pre {
    background: $base-input-background;
    border: $base-border;
    border-radius: $base-border-radius;
    margin: $l-spacing 0;
    padding: $m-spacing;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.5;

    code {
      color: $brand-darkGrey;
      font-family: monospace;
    }
  }

  img {
    padding: $m-spacing 0 $l-spacing;
    max-width: 100%;
    height: auto;
  }
}

.st0 {
  fill: #ffd200;
}
