@import "~styles/variables.scss";
@import "~styles/reset.scss";

html {
  box-sizing: border-box;
  font-size: $base-font-size;
  font-family: 'Inter UI', -apple-system, BlinkMacSystemFont, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
