$brand-white: white;
$brand-primary: #243cad;
$brand-secondary: #807d7d;

$brand-primary-hover: #12278a;
$brand-secondary-hover: #716f6f;

$brand-disabled: #e4e4e4;
$brand-text: #2d2d2d;

$brand-purple: #2d0874;
$brand-blue: #3366CC;
$brand-orange: #FE923B;

$brand-green: #8CE258;
$brand-red: #FF6846;

// need black/grey color pallete
// need disabled/hover colors
// need to verify hex colors