// SPACING (Based on an 8pt scale)
$base-spacing: 0.5rem; // 8px
$s-spacing: $base-spacing / 2; // 4px
$m-spacing: $base-spacing * 2; // 16px
$l-spacing: $base-spacing * 3; // 24px
$xl-spacing: $base-spacing * 4; // 32px
$xxl-spacing: $base-spacing * 5; // 40px

// SIZES
$base-border-width: 1px;
$base-border-radius: 3px;
$base-input-height: $xxl-spacing;
$base-checkbox-size: $m-spacing * 1.25;
$base-toggle-size: $l-spacing;

// TYPOGRAPHY
$base-font-size: 16px;
$body-small-font-size: 0.75rem; // 12px
$body-font-size: 0.875rem; // 14px

$h5-font-size: 0.875rem; // 14px
$h4-font-size: 1rem; // 16px
$h3-font-size: 1.25rem; // 20px
$h2-font-size: 1.563rem; // 25px
$h1-font-size: 1.938rem; // 31px

$base-line-height: 1.75;
$line-height-reset: 1;

// COLORS:
$brand-purple: #5A28C6;
$brand-purple-hover: darken($brand-purple, 10%);
$brand-purple-disabled: lighten($brand-purple, 30%);

$brand-dark-purple: #2E2A35;

$brand-destructive: #D14545;
$brand-destructive-hover: darken($brand-destructive, 10%);
$brand-red: $brand-destructive;

$brand-blue: #4A93FF;
$brand-blue-hover: darken($brand-blue, 10%);

$brand-orange: #FBAA31;

$brand-green: #6FC78D;
$brand-green-hover: darken($brand-green, 10%);

$brand-black: #262626;
$brand-darkGrey: #636363;
$brand-grey: #949494; // Lightest text
$brand-lightGrey: #E0E0E0;
$brand-nearWhite: #F3F2F6;
$brand-white: #FFFFFF;
$brand-purpleWhite: #cebeff;

$base-input-background: #F9F8FD;

$base-border-color: $brand-lightGrey;

@mixin banner-gradient {
  background: linear-gradient(to right, #5b29c8 , #594aff);
}

// SIDEBAR:
$sidebar-color: $brand-dark-purple;

// BOX SHADOWS:
$base-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
$m-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
$brand-chip-box-shadow: 0 2px 7px $brand-lightGrey;
$brand-card-box-shadow: 0 0 10px $brand-lightGrey;
$brand-bountyCard-box-shadow: 0 0 10px $brand-lightGrey;

// BORDERS
$base-border: $base-border-width solid $brand-lightGrey;

// Overlay Grey
$overlay-background: rgba(0, 0, 0, 0.6);

// Circle
