@import '~styles/variables.scss';

.select {
}

.error {
  :global(.Select-control) {
    box-shadow: 0 0 0 2px $brand-red;
    border-color: transparent;
  }
}

.selectComponent {
}

.inputHelpText {
  padding-top: $base-spacing;
  line-height: $line-height-small;
}
