@import "~styles/variables.scss";
@import "../BaseStyles.module.scss";

.skills {
  @include statContainer;
  width: 200px;
}

.skillsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.skill {
  margin-bottom: $base-spacing;
}
