@import "~styles/variables.scss";

.social {
  a {
    cursor: pointer;
    color: $brand-grey;
    text-decoration: none;
    font-size: $h3-font-size;

    &:hover {
      color: $brand-blue;
    }

    &:not(:last-child) {
      margin-right: $m-spacing;
    }
  }
}
