@import "~styles/variables.scss";

.accountSettings {
  width: 100%;
  height: 100%;
/*  display: flex;
  flex-direction: column;
  align-items: center;*/
}

.accountSettingsHeader {
  height: 250px;
  background-color: $brand-purple;
  margin: 0 -2rem 0 -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accountSettingsBody {
/*  height: fit-content;
  width: 50%;*/
  margin-top: -50px;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: $brand-bountyCard-box-shadow;
/*  position: absolute;*/
/*  top: 20%;*/
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

.formSection {
  border-bottom: 1px solid $brand-lightGrey;
  padding-top: 30px;
  padding-bottom: 30px;
}

.formSection:nth-child(5) {
  border-bottom: none;
  padding-top: 30px;
  padding-bottom: 30px;
}

.detailHeader {
  text-align: justify;
/*  display: flex;
  justify-content: flex-start;*/
}

.detailBody {
/*  display: flex;
  flex-direction: column;
  justify-content: flex-start;*/
}

.subsectionHeader {
/*  display: flex;
  flex-direction: column;*/
  margin-bottom: 20px;
  text-align: justify;
}

.subsectionHeaderText {
  margin-bottom: 10px;
}

.textInput {
  width: 100%;
}

.textBox {
  width: 100%;
}

.contactArea {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contactInputArea {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.secondRow {
  margin-top: 30px;
}

.content {
  margin-top: 15px;
}

.profileHeaderBar {
/*  width: 100%;*/
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.descriptionToggleArea {
  width: 100%;
/*  display: flex;
  flex-direction: column;*/
}

.descriptionToggle {
  margin-bottom: 10px;
}

.buttonBar {
  margin-top: 75px;
/*  display: flex;
  justify-content: center;*/
  width: 100%;
}

.dropdown {
  width: 100%;
}
