@import "~styles/variables.scss";

.filter {
  height: 400px;
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-radius: 4px;
}

.withDropdown {
  height: 600px;
}

.titleBar {
  display: flex;
  justify-content: space-between;
}

.stages {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stagesBody {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.difficulty {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paymentStatus {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paymentStatusBody {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item {
  display: flex;
}

.dropdownSearch {
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}