@import "~styles/variables.scss";

.textInput {
  height: $base-input-height;
  background-color: $base-input-background;
  border-radius: $base-border-radius;
  border: 1px solid $brand-lightGrey;
  font-size: $body-font-size;
  padding: 0 $m-spacing;
}

.textInput:focus {
  outline: 1px solid $brand-blue;
  border: 1px solid $brand-blue;
}

.disabled {
  background-color: $brand-grey;
}

.error {
  outline: 1px solid red;
}
