@import '~styles/variables.scss';

.centerAvatar {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: $xxl-spacing;
}

.profileName {
  padding-top: $xl-spacing;
  padding-bottom: $m-spacing;
}
