@import "~styles/variables.scss";

.filterNav {
  background: $brand-white;
  padding: $l-spacing;
  margin-top: 0;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
<<<<<<< HEAD
  position: default;
  max-width: $filterNav-width-fixed;
  width: 70vw;
  height: 100%;
=======
  position: absolute;
>>>>>>> integrate will's sticky filter nav into refactor

  @media only screen and (min-width: 48em) {
    height: auto;
    margin-top: $header-height-sm;
    padding: $m-spacing;
    width: $filterNav-width-fluid;
  }

  @media only screen and (min-width: 65em) {
    width: $filterNav-width-fixed;
    margin-top: $header-height-lg;
    padding: $l-spacing;
  }
}

.fixed {
  position: fixed;
  @media only screen and (min-width: 48em) {
    // top: $header-height-sm;
  }
   @media only screen and (min-width: 65em) {
    // top: $header-height-lg;
  }
}


.searchWrapper {
  padding-bottom: $l-spacing;
  border-bottom: $base-border;
}

.refineWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: $l-spacing;
}

.clearButton {
  margin-left: auto;
}

.stageFilter {
  margin-top: $xl-spacing;
}

.difficultyFilter {
  margin-top: $xl-spacing;
}

.categoryFilter {
  margin-top: $xl-spacing;
}

.groupText {
  margin-bottom: $m-spacing;
}
