@import "~styles/variables.scss";

.dashboardPage {
  background-color: $brand-lightGrey;
  height: 100%;
  width: 100%;
  padding-left: $center-padding-left;
  padding-right: $center-padding-right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.profileBar {
  min-height: 200px;
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profileData {
  display: flex;
  height: 100px;
  width: 30%;
}

.circle {

}

.profileText {
  display: flex;
  margin-left: 25px;
  justify-content: center;
  flex-direction: column;
}

.bountiesInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 47%;
}

.dataCell {
  height: 50px;
  width: 175px;
  padding-left: 40px;
  padding-right: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid $brand-darkGrey;
}

.dataCell:last-child {
  border-right: none;
}

.moneyCell {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dashboardBody {

}