@import "~styles/variables.scss";

.sortBy {
  display: flex;
  justify-content: space-around;
}

.sortByButtons {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chevron {
  padding-left: 5px;
}

.active {

}

.notActive {

}
