@import "~styles/variables.scss";

.AddressBar {
  display: inline-block;
  padding: $base-spacing;
  position: relative;
  border: $base-border-width solid transparent;
  border-radius: $base-border-radius;
  background-color: lighten($brand-purple, 45%);

  &:hover {
    border: $base-border-width solid $brand-purple;
    cursor: pointer;
  }
}

.tooltip {
  position: absolute;
  width: fit-content;
  color: $brand-darkGrey;
  background: $brand-lightGrey;
  margin-left: -$base-spacing;
  padding: $base-spacing;
  font-size: $body-font-size;
  text-align: center;
  visibility: hidden;
  border-radius: $base-border-radius;
  opacity: 0;
  transition: opacity 0.25s ease, margin-left 0.25s ease;
}

.tooltip:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -$s-spacing;
  width: 0;
  height: 0;
  border-right: $s-spacing solid $brand-lightGrey;
  border-top: $s-spacing solid transparent;
  border-bottom: $s-spacing solid transparent;
}

.AddressBar:hover .tooltip {
  visibility: visible;
  opacity: 1;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: $base-spacing;
  z-index: 999;
}
