@import "~styles/variables.scss";

.ethContainer {
  background-color: rgb(36, 10, 125);
  border: 1px solid black;
  width: auto;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}