@import "~styles/variables.scss";

.link {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.listGroup {
  margin: -$base-spacing;
  margin-right: calc((#{$base-spacing} + 8px) * -1);

  @media only screen and (min-width: 48em) {
    margin: -$m-spacing;
    margin-right: calc((#{$m-spacing} + 8px) * -1);
  }
}

.activityListItem {
  padding-top: $base-spacing * 1.5;
  padding-bottom: $base-spacing * 1.5;
}

.loadMoreButton {
  text-align: center;
}

.bodyLoading {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.zeroState {
  max-width: 25rem;
  padding: 0 $xxl-spacing;
}
