@import "~styles/variables.scss";

.leaderboardCard {
  height: 100%;
  min-height: 25rem;
  margin-top: -$xxl-spacing;

  overflow-y: scroll;
}

.cardBodyLoading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
