@import "~styles/variables.scss";

.flexContainer {
  display: flex;
  flex-flow: column;
}

.bodyCard {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-flow: row;
  background: $brand-lightGrey;
}
