@import "~styles/variables.scss";

.listGroup {
}

.cardBodyLoading {
  height: 100%;
  min-height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loadMoreButton {
  margin-top: $xl-spacing;
  padding: $m-spacing;
  position: relative;
  text-align: center;
  z-index: 999;

  @media only screen and (min-width: 35em) {
    padding: 0;
  }

  button {
    position: relative;
    width: 100%;
    z-index: 999;
  }
}

.zeroStateWrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zeroState {
  max-width: 25rem;
  margin-bottom: $xxl-spacing * 3;

  @media only screen and (min-width: 48em) {
    margin-bottom: 0;
  }
}

.platformSelect {
  margin-left: auto;
  margin-bottom: $m-spacing;
  width: 100%;

  @media only screen and (min-width: 48em) {
    width: 40%;
  }

  @media only screen and (min-width: 65em) {
    width: 25%;

  }
}