@import "~styles/variables.scss";
@import "../BaseStyles.module.scss";

.elsewhere {
  @include statContainer;
}

.bulletPointContainer {
  display: flex;
  flex-direction: column;

  > div:not(:last-child) {
    margin-bottom: $m-spacing;
  }
}

.icon {
  color: $brand-grey;
  display: inline-block;
  margin-right: $base-spacing;
}

.bulletPoint {
  display: flex;
  flex-direction: row;

  p:not(:last-child) {
    margin-bottom: $m-spacing;
  }
}

.bulletPointText {
  display: flex;
  flex-direction: column;
}
