@import "~styles/variables.scss";
@import "../BaseStyles.module.scss";

.elsewhere {
  @include statContainer;
}

.bulletPointContainer {
  display: flex;
  flex-direction: column;
}

.icon {
  color: $brand-grey;
  display: inline-block;
  margin-right: $base-spacing;
}

.bulletPoint {
  display: flex;
  flex-direction: row;

  &:not(:last-child) {
    margin-bottom: $base-spacing;

  @media only screen and (min-width: 35em) {
    margin-bottom: $m-spacing;
  }
  }
}

.bulletPointText {
  display: flex;
  flex-direction: column;
}
