@import '~styles/variables.scss';

.inputGroup:last-child {
  margin-top: $xl-spacing;
}

.rowText {
  display: flex;
  justify-content: space-between;
}

.review {
  text-align: left;
}

.avatar {
  margin: $xl-spacing 0;
  text-align: left;
  color: $brand-black;
  display: flex;
  justify-content: center;
}

.submitError {
  margin-top: $base-spacing;
  margin-bottom: -$s-spacing;
}
