@import "~styles/variables.scss";

.inputGroup {
  margin-top: $xxl-spacing;
}

.bountyInfoContainer {
  margin: $xl-spacing;
  margin-bottom: $xxl-spacing * 2;
}

.bountyInfo {
  position: relative;
  padding: $m-spacing;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;

  .pill {
    line-height: 1;
    position: absolute;
    top: -10px;
    left: -10px;
  }
}

.rowText {
  display: flex;
  justify-content: space-between;
}

.detailsGroup {
}

.review {
  text-align: left;
}

.avatar {
  margin: $xl-spacing 0;
  text-align: left;
  color: $brand-black;
  display: flex;
  justify-content: center;
}

.submitError {
  margin-top: $base-spacing;
  margin-bottom: -$s-spacing;
}
