.baseToast {
  display: flex;
}

.icon {
  margin-right: 5px;
}

.link {
  margin-right: 10px;
  
}

.linkSection {
  display: flex;
  align-items: center;
  
}

.messageSection {
  flex-grow: 1;
  display: flex;
  align-items: center;
}