@import "~styles/variables.scss";

.baseToast {
  display: flex;
  border-right: $base-border-width solid rgba($brand-black, 0.10);
  padding: $base-spacing 0;
  justify-content: space-between;
}

.icon {
  font-size: $h3-font-size;
  padding: 0 $m-spacing;
}

.link {
  margin-right: 10px;
  text-decoration: underline;
  text-align: right;
}

.closeIcon {
  color: $brand-white;
  font-size: $base-font-size;
  padding: $m-spacing;
  align-self: stretch;

  &:hover {
    background: rgba($brand-black, 0.10);
  }
}

.linkSection {
  display: flex;
  align-items: center;
  padding: $base-spacing;
}

.messageSection {
  display: flex;
  align-items: center;
  margin-right: $xxl-spacing;
}
