@import "~styles/variables.scss";

.mainnetCircle {
  margin-right: $base-spacing;
  color: $brand-green;
}

.unknownCircle {
  margin-right: $base-spacing;
  color: $brand-red;
}

.rinkebyCircle {
  margin-right: $base-spacing;
  color: #FBAA31;
}
