@import "~styles/variables.scss";

.sidebar {
  background-color: $sidebar-color;
  display: none; /*Temporary to test responsive views w/o sidebar*/
  height: 100%; /* 100% Full-height */
  float: left;
  padding-top: $header-height-lg * 2;
  position: fixed;
  width: $base-sidebar-width;

  @media only screen and (min-width: 48em) {
    display: block;
  }
}

.iconTab {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
  padding: $base-spacing $l-spacing;
  margin: $m-spacing 0;
  cursor: pointer;
  color: $brand-white;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.active {
  color: $brand-white;
  position: relative;
  opacity: 1;

  &:before {
    position: absolute;
    content: '';
    background-color: $brand-orange;
    box-shadow: $s-spacing 0px $xl-spacing 0px $brand-orange;
    width: $s-spacing;
    height: 100%;
    left: 0;
  }
}
