@import "~styles/variables.scss";

.sidebar {
  height: 100%; /* 100% Full-height */
  width: fit-content;
  padding-top: $header-height-sm;
  padding-right: $xl-spacing;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 48em) {
    background-color: $sidebar-color;
    float: left;
    width: $sidebar-width-sm;
    position: fixed;
    padding-right: 0;
  }

  @media only screen and (min-width: 65em) {
    width: $sidebar-width-lg;
    padding-top: $header-height-lg;
  }
}

.mobileSideNav {
  @media only screen and (min-width: 48em) {
    display: none;
  }
}

.desktopSideNav {
  display: none;
  @media only screen and (min-width: 48em) {
    display: block;
  }
}

.icons {
  flex: 1;
}

.iconTab {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  padding: $base-spacing $l-spacing;
  margin: $m-spacing 0;
  cursor: pointer;
  color: $brand-white;
  opacity: 0.5;

  &:hover {
    opacity: 1;
    text-decoration: none;
  }

  @media only screen and (min-width: 48em) {
    text-align: center;
    justify-content: center;
  }
}

.navText {
  text-decoration: none;
  margin-left: $l-spacing;
  @media only screen and (min-width: 48em) {
    display: none;
  }
}

.active {
  color: $brand-white;
  position: relative;
  opacity: 1;

  &:before {
    position: absolute;
    content: '';
    background-color: $brand-orange;
    box-shadow: $s-spacing 0px $xl-spacing 0px $brand-orange;
    width: $s-spacing;
    height: 100%;
    left: 0;
  }
}
