.payoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.usdContainer {
  display: flex;
  justify-content: flex-end;
}

.ethContainer {
  display: flex;
  justify-content: flex-end;
}
