@import "~styles/variables.scss";

.customDropdown {
  position: absolute;
  top: $header-height-sm - $base-spacing;
  right: 0;

  @media only screen and (min-width: 48em) {
    top: $header-height-lg - $base-spacing;
  }
}

.notificationTrigger {
  padding: $base-spacing;
  position: relative;
}

.notificationTriggerIcon {
  transform: rotate(25deg);
}

.notificationBox {
  box-shadow: $base-box-shadow;
  background-color: $brand-white;
  border: $base-border;
  border-radius: $base-border-radius;
  height: 25rem;
  width: 100vw;
  margin: 0 $m-spacing;
  overflow: scroll;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: calc(-4.25rem - #{$m-spacing});

  @media only screen and (min-width: 48em) {
    width: 35rem;
    right: -$l-spacing;
  }
}

.notificationListGroup {
  overflow-y: scroll;
  height: 100%;
}

.notificationListItem {
  border-radius: 0;
  padding: $base-spacing $m-spacing;
  padding-left: $xl-spacing;
  position: relative;

  &:before {
    border-radius: 6px;
    content: '';
    height: 6px;
    width: 6px;
    background-color: $brand-red;
    top: 50%;
    transform: translateY(-50%);
    left: $m-spacing;
    position: absolute;
  }

  &.viewed {
    opacity: 0.5;

    &:before {
      display: none;
    }
  }
}

.notification {
  margin-right: 0;
}

.notification:after {
  border: 2px solid white;
  border-radius: 10px;
  content: '';
  display: block;
  position: absolute;
  height: 12px;
  width: 12px;
  right: 1px;
  top: 10px;
  z-index: 1000;
  background-color: $brand-red;
}

.heading {
  border-bottom: $base-border;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
}

.headingTitle {
  padding: $m-spacing $m-spacing;
  flex-grow: 1;
}

.headingLink {
  padding-right: $m-spacing;
}

.link:hover, .link:visited, .link:link, .link:active {
  text-decoration: none;
}

.loadMore {
  text-align: center;
  margin: $s-spacing 0;
}

.zeroState {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: ($xxl-spacing * 3) $xxl-spacing;
}
