@import "~styles/variables.scss";

.notificationBox {
  min-height: 200px;
  height: 40vh;
  min-width: 500px;
  overflow: scroll;
}

.customDropdown {
  top: 45px;
}

.link:hover, .link:visited, .link:link, .link:active {
  text-decoration: none;
}
