@import "~styles/variables.scss";

.searchContainer {
  position: relative;

  &:before {
    content: '🔍'; //Placeholder icon
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 20%;
    left: $m-spacing;
  }
}

.search {
  background-color: $base-input-background;
  border-radius: $base-border-radius;
  border: 1px solid $brand-lightGrey;
  width: 100%;
  height: $base-input-height;
  font-size: $body-font-size;
  padding: 0 $m-spacing 0 $base-input-height;

  &:focus {
    outline: 1px solid $brand-blue;
    border: 1px solid $brand-blue;
  }
}
