@import "~styles/variables.scss";

.modalBody {
  text-align: left;
}

.inputGroup {
  margin-top: $l-spacing;
}

.fulfillmentInput {
  margin-top: $l-spacing;
}

.paragraphBreak {
  margin-bottom: $l-spacing;
}

p {
  em {
    font-weight: 700;
  }

  .textHighlight {
    color: $brand-purple;
    font-weight: 500;
  }
}

.rowTextArea {
  min-height: 10px;
  resize: none;
}