@import "~styles/variables.scss";

.chip{
  color: $brand-grey;
  // box-shadow: $brand-chip-box-shadow;
  border: 1px solid $brand-lightGrey;
  white-space: nowrap;
  width: fit-content;
  height: 20px;
  padding: 0 5px;
  font-size: 11px;
  font-weight: 400;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round {
  border-radius: 16px;
}

.rectangle {
  border-radius: 3px;
}

.close {
  
}

.closeButton {
  cursor: pointer;
  margin-left: 10px;
}