@import "~styles/variables.scss";

.container {
  display: flex;
  align-items: center;
}

.text {
  text-align: left;
  margin: 0 $m-spacing;
  flex-grow: 1;
}

.time {
  white-space: nowrap;
}

.details {
  margin-top: $m-spacing
}

.transparent {
  background: rgba(255,255,255,.5);
}

.value {
  margin-left: -1rem;
  text-align: right;
}

.iconStyles {
  color: $brand-purple;
}

.message {
  display: flex;
  flex-direction: row;
}

.alignLeft {
  text-align: left;
}
