@import "~styles/variables.scss";

.container {
  display: flex;
  align-items: center;
  position: relative;
}

.text {
  text-align: left;
  line-height: 1.2;
  padding: 0 $base-spacing;
  flex-grow: 1;
}

.time {
  padding-left: $base-spacing;
  padding-top: $base-spacing;
  white-space: nowrap;
  width: 100%;
}

.details {
  margin-top: $m-spacing;
}

.transparent {
  background: rgba(255,255,255,.5);
}

.value {
  margin-left: -1rem;
  text-align: right;
}

.notifier {
  &.small {
    min-width: $l-spacing;
  }
  &.large {
    min-width: $xxl-spacing;
  }
}

.iconStyles {
  color: $brand-purple;
}

.message {
  display: flex;
  flex-direction: row;
}

.alignLeft {
  text-align: left;
}
