@import "~styles/variables.scss";

.cellWrapper {
  //width: 70%;
}

.table {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.5;

  // .Table-row
  .row {
    width: 100%;
    display: flex;
    border-bottom: $light-border;
    align-items: center;
    flex-direction: row;

    @media only screen and (max-width: 500px) {
      width: 100%;
      display: block;
      justify-content: space-between;
    }
  }
  .row.rowHover:hover {
    background-color: $brand-nearWhite;
  }

  .row.rowHover {
    cursor: pointer;
  }

  // .Table-header
  .header {
    @media only screen and (max-width: 500px) {
      display: none;
    }
  }
}

.cell {
  flex-grow: 1;
  flex-basis: 0;
  padding: $base-spacing;
  word-break: break-word;

  &:before { content: none; }

  @media only screen and (max-width: 500px) {
    &:before {
      content: attr(data-header);
      width: 30%;
      color: #949494;
    }
  }
}

.numerical {
  text-align: right;

  &:not(:last-child) {
    padding-right: $xl-spacing;
  }
}
