@import "~styles/variables.scss";

.cellWrapper {
  //width: 70%;
}

.table {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  // .Table-row
  .row {
    width: 100%;
    display: flex;
    border-bottom: $light-border;
    align-items: center;
    flex-direction: row;

    @media only screen and (max-width: 500px) {
      width: 100%;
      display: block;
      justify-content: space-between;
    }
  }
  .row.rowHover:hover {
    background-color: $brand-nearWhite;
  }

  .row.rowHover {
    cursor: pointer;
  }

  // .Table-header
  .header {
    @media only screen and (max-width: 500px) {
      display: none;
    }
  }
}

.cell {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;
  padding: $base-spacing;
  justify-content: space-between;
  align-items: center;
  word-break: break-word;

  @media only screen and (min-width: 65em) {
    display: block;
  }

  &:before {
    content: attr(data-header);
    font-size: $body-small-font-size;
    color: $brand-grey;
    color: #949494;
  }

  @media only screen and (min-width: 65em) {
    &:before {
      content: none;
    }
  }
}

.numerical {
  text-align: right;

  @media only screen and (min-width: 65em) {
    &:not(:last-child) {
      padding-right: $xl-spacing;
    }
  }
}
