@import "~styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
}

.statsContainer {
  margin-top: 1.5 * $xxl-spacing;
  margin-bottom: 2 * $xxl-spacing;
}

.submissionsContainer {
  height: 80%;
  margin-top: $xxl-spacing;
}

.submissionsFlex {
  flex-grow: 1 !important;
}
