@import "~styles/variables.scss";

.statsContainer {
  margin-top: 1.5 * $xxl-spacing;
  margin-bottom: 2 * $xxl-spacing;
}

.submissionsFlex {
  display: flex;
  flex-grow: 1 !important;
}

.bountiesPanel {
  height: 91.5vh;
  width: 100vw;
  overflow-y: scroll;

  @media only screen and (min-width: 48em) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 27vh;
    min-height: 25rem;
  }
}

.bodyClass {
  height: 70vh;
  width: 100vw;
  overflow-y: scroll;

  @media only screen and (min-width: 48em) {
  }
}

.activityPanel {
  @media only screen and (min-width: 48em) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 27vh;
    min-height: 25rem;
  }
}

.activityPanelBody {
  height: 80vh;
  width: 100vw;
  overflow-y: scroll;

  @media only screen and (min-width: 48em) {
  }
}

.submissionsPanel {
  height: 90vh;
  width: 100vw;
  overflow-y: scroll;

  @media only screen and (min-width: 48em) {
    margin-bottom: $xxl-spacing;
    height: 100%;
    margin-top: $m-spacing;
    min-height: 25rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 27vh;
    text-align: left;
  }
}
