@import "~styles/variables.scss";

.avatar {
  display: flex;
  align-items: center;
}

.textWrapper {
  margin-left: $m-spacing;

  .addressText {
    margin-top: $s-spacing;
    text-decoration: underline;
  }
}
