@import "~styles/variables.scss";

.avatar {
  display: flex;
  align-items: center;
  width: fit-content;
}

.nameText {
  margin-bottom: $s-spacing;
}

.textWrapper {
  margin-left: $m-spacing;

  .addressText {
    text-decoration: underline;
  }
}
