@import "~styles/variables.scss";
@import "../BaseStyles.module.scss";

.about {
  @include statContainer;
}

.bulletPointContainer {
  display: flex;
  flex-direction: row;

  @media only screen and (min-width: 35em) {
    flex-direction: column;

    > div:not(:last-child) {
      margin-bottom: $l-spacing;
    }
  }
}

.icon {
  color: $brand-grey;
  margin-top: -$s-spacing;
  margin-right: $base-spacing;
}

.bulletPoint {
  display: flex;
  flex-direction: row;
  width: 50%;

  @media only screen and (min-width: 35em) {
    width: 100%;
  }
}

.bulletPointText {
  display: flex;
  flex-direction: column;
}
