@import "~styles/variables.scss";

.section {
  padding: $xxl-spacing 0;

  &:first-child {
    padding-top: 0;
  }

  &:not(:last-child) {
    border-bottom: $base-border;
  }
}

.sectionTitle {
  line-height: $base-line-height;
  letter-spacing: 1px;
}

.description {
  line-height: $base-line-height;
  margin-bottom: $m-spacing;
}

.subText {
  line-height: $base-line-height;
  padding-bottom: $l-spacing;
}

.inputGroup {
  margin-top: $xl-spacing;
}
