@import "~styles/variables.scss";

.link {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.listGroup {
  margin: -$m-spacing;
}

.loadMoreButton {
  text-align: center;
}

.bodyLoading {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.zeroState {
  max-width: 25rem;
  padding: 0 $xxl-spacing;
}
