@import "~styles/variables.scss";

.link {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.listGroup {
  margin: -$base-spacing;

  @media only screen and (min-width: 48em) {
    margin: -$m-spacing;
  }
}

.loadMoreButton button {
  margin-top: $l-spacing;
  margin-bottom: $xxl-spacing * 3;
  text-align: center;
  width: 100%;

  @media only screen and (min-width: 48em) {
    margin-bottom: 0;
  }
}

.bodyLoading {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.zeroState {
  max-width: 25rem;
  margin-bottom: $xxl-spacing * 3;

  @media only screen and (min-width: 48em) {
    margin-bottom: 0;
  }
}

.bountiesPanelCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $l-spacing 0;
}

.decoratedLink {
  text-decoration: underline;
}
