@import "~styles/variables.scss";

.viewBountyPage {
  width: 100%;
  height: 100%;
}

.topBanner {
  height: 300px;
  width: 100%;
  background-color: $brand-purple;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.body {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}

.header {
  height: 130px;
  width: 60%;
  position: absolute;
  top: 7%;
  display: flex;
  justify-content: space-between;
}

.headerText {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.chipBar {
  display: flex;
  flex-wrap: wrap;
}

.chip {
  margin-left: 5px;
}

.chip:first {
  margin-left: 0;
}

.bountyBody {
  background-color: white;
  min-height: 400px;
  max-height: fit-content;
  width: 60%;
  position: absolute;
  top: 22%;
  display: flex;
  justify-content: space-between;
  box-shadow: $brand-bountyCard-box-shadow;
}

.bountyButtonsColumn {
  padding: 25px;
}

.bountyText {
  border-left: 1px solid $brand-lightGrey;
  padding: 25px;
}

.buttonSet {
  display: flex;
  flex-direction: column;
}

.mainButton {
  margin-bottom: 45px;
}

.otherButton {
  margin: 5px 0;
}

.buttonIcon {
  padding-right: 5px;
}

.bountyButtonsColumnInfo {
  margin-top: 25px;
}

.infoCell {
  height: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.infoCellText {
  margin-top: 5px;
}

.submissions {
  background-color: white;
  height: 400px;
  width: 60%;
  top: 61%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  box-shadow: $brand-bountyCard-box-shadow;
}

.tabRow {
  height: 50px;
  display: flex;
}
