@import "~styles/variables.scss";

.progressBarAll {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap; 
  align-items: center;
}

.progressBar {
  position: relative;
  height: $base-line-height / 5;
  width: 30em;
  flex: 1 1 auto;
  border-radius: 50px;
  border: $base-border-width solid #333;
  color: white;
}

.progressBarFiller {
  position: absolute;
  background: #1da598;
  border-radius: inherit;
  height: inherit;
  transition: width 0.2s ease-in;
}

.ProgressBarMarginLeft {
  margin-left: $m_spacing;
}

.ProgressBarMarginRight {
  margin-right: $m_spacing;
}

.progressBarMarginSmall {
  margin: $s_spacing;
}

.progressBarMarginMedium {
  margin: $m_spacing;
}

.progressBarMarginLarge {
  margin: $l_spacing;
}

.progressBarSizeSmall {
  width: 30em;
}

.progressBarSizeMedium {
  width: 35em;
}

.progressBarSizeLarge {
  width: 40em;
}
