.progress-bar-all {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  min-width: 500px;
}

.progress-bar {
  position: relative;
  height: 5px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
  display: inline-block;
  color: white;
}

.progress-bar-filler {
  position: absolute;
  background: #1da598;
  border-radius: inherit;
  height: inherit;
  transition: width 0.2s ease-in;
  display: inline-block;
}

.progress-bar-hdr {
  font-size: small;
  margin-left: 5px;
  margin-right: 10px;
}

.progress-bar-pct {
  font-size: small;
  width: fit-content;
  margin-left: 10px;
  margin-right: 10px;
}
