@import "~styles/variables.scss";

.pageBanner {
  width: 100%;
  height: $base-line-height + 0.5rem;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  border-radius: 0;
  border-color: $brand-grey;
  background-color: $brand-lightGrey;
  overflow: hidden;
  display: flex;
  box-shadow: $base-box-shadow;
  align-items: center;
}

.pageBanner .pageBannerCloseButton:last-child {
  margin-left: auto;
  padding-right: $base_spacing;
  padding-left: $base_spacing;
}

.pageBannerCloseButton {
  display: flex;
  align-content: center;
  margin-right: $s_spacing; 
}

.pageBannerMarginSmall {
  margin: $base_spacing 0;
}

.pageBannerMarginMedium {
  margin: $s_spacing 0;
}

.pageBannerMarginLarge {
  margin: $m_spacing 0;
}

.pageBannerSizeSmall {
  width: 30em;
}

.pageBannerSizeMedium {
  width: 35em;
}

.pageBannerSizeLarge {
  width: 40em;
}

.pageBannerHeightSmall {
  height: $base-line-height;
}

.pageBannerHeightMedium {
  height: $base-line-height + 1rem;
}

.pageBannerHeightLarge {
  height: $base-line-height * 2;
}

.purple {
  background-color: $brand-purple;
}

.blue {
  background-color: $brand-blue;
}

.lightBlue {
  background-color: lightblue;
}

.orange {
  background-color: $brand-orange;
}

.green {
  background-color: $brand-green;
}

.red {
  background-color: $brand-red;
}

.black {
  background-color: $brand-black;
}

.lightGrey {
  background-color: $brand-lightGrey;
}

.defaultGrey {
  background-color: $brand-grey;
}

.darkGrey {
  background-color: $brand-darkGrey;
}

.white {
  background-color: white;
}