@import "~styles/variables.scss";

$x-button-width: 12px;

.pageBanner {
  background-color: $brand-lightGrey;
  overflow: hidden;
  transition: height 0.2s ease-out;
}

.pageBannerWrapper {
  display: flex;

  // on mobile side spacing defaults to 1rem like most components
  padding: $m-spacing;

  // on desktop, the wrapClass prop drives edge padding and max width
  @media only screen and (min-width: 48em) {
    padding: $m-spacing 0;
  }
}

.pageBannerContent {
  flex: 1;
  padding-right: $m-spacing;
}

// reusing some from Modal, maybe close button should be its own component?
.closeIcon {
  top: $m-spacing;
  cursor: pointer;
  color: $brand-grey;
  font-size: 1.2em;

  &:hover {
    color: $brand-blue;
  }
}