@import "~styles/variables.scss";

.body {
  border-radius: $base-border-radius;
  background: $base-input-background;
}

.toggleContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $base-spacing;
  padding: $base-spacing $m-spacing;
}

.toggleLabel {
  line-height: 1.4;
}

.toggle {
  display: flex;
  justify-content: flex-end;
  padding-left: $m-spacing;
}
