@import "~styles/variables.scss";

.explorerBody {
  margin-left: 0;
  padding: $l-spacing 0;
  width: 100%;
  height: 100%;
}

.explorerBodyWithPadding {
  @extend .explorerBody;

  @media only screen and (min-width: 48em) {
    padding: $xl-spacing $base-spacing $xl-spacing calc(#{$filterNav-width-small} + #{$base-spacing});
  }

  @media only screen and (min-width: 65em) {
    padding-left: $filterNav-width-large + $m-spacing;
    padding-right: $m-spacing;
  }
}

.centeredBody {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bodyHeading {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: $s-spacing;
}

.bountyList {
  margin-top: $base-spacing;

  @media only screen and (min-width: 48em) {
    margin-top: $m-spacing;
  }
}

.bountyListCentered {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.centeredItem {
  margin: 0 auto;
}

.bountyNumber {
  margin-right: $s-spacing;
  margin-left: $m-spacing;

  @media only screen and (min-width: 48em) {
    margin-left: 0;
  }
}

.filterNav {
  display: block;
  margin-left: auto;
  padding-right: $base-spacing;

  @media only screen and (min-width: 48em) {
    display: none;
  }
}

.sortByText {
  margin-right: $l-spacing;
}

.sortBy {
  display: flex;
  align-items: flex-end;
}

.loadMoreButton {
  width: 100%;
  text-align: center;
  padding-bottom: $l-spacing;
}
