@import "~styles/variables.scss";

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.listGroup {
  overflow-y: scroll;
}

.loadMoreButton button {
  margin-top: $l-spacing;
  text-align: center;
  width: 100%;
}

.bodyLoading {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.zeroState {
  max-width: 25rem;
  padding: $xxl-spacing;
}
