@import "~styles/variables.scss";

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.listGroup {
  overflow-y: scroll;
}

.loadMoreButton button {
  margin-top: $l-spacing;
  margin-bottom: $xxl-spacing * 3;
  text-align: center;
  width: 100%;

  @media only screen and (min-width: 48em) {
    margin-bottom: 0;
  }
}

.bodyLoading {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.zeroState {
  max-width: 25rem;
  margin-bottom: $xxl-spacing * 3;

  @media only screen and (min-width: 48em) {
    margin-bottom: 0;
  }
}
