@import "~styles/variables.scss";

.activateButton {
  margin-bottom: $l-spacing;
}

.editBountyButton {
  margin-bottom: $m-spacing;
}

.killButton {
  margin-bottom: $m-spacing;
}

.buttonGroup {
  margin-top: $base-spacing;
}

.reactivateButton {
  margin-bottom: $m-spacing;
}
