@import "~styles/variables.scss";

.bountyPageCardHeader {
  padding: $m-spacing;

  @media only screen and (min-width: 35em) {
    padding: $l-spacing;
  }

  @media only screen and (min-width: 48em) {
    padding: $xl-spacing 0;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media only screen and (min-width: 35em) {
    flex-wrap: nowrap;
  }
}

.body {
  height: 100%;
}

.centeredBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bountyHeader {
  padding-top: $l-spacing;
  text-align: left;
  width: 100%;

  @media only screen and (min-width: 35em) {
    padding-top: 0;
  }
}

.categories {
  margin-top: $base-spacing;
  display: flex;
  flex-wrap: wrap;
}

.avatar {
  margin-top: $m-spacing;
}

.pill {
  margin-top: $s-spacing;
  opacity: 0.6;
}

.pageBody > div {
  display: flex;
  flex-direction: column-reverse;
  padding: $m-spacing;

  @media only screen and (min-width: 35em) {
    padding: $l-spacing;
    flex-direction: row;
  }
}

.description {
  text-align: left;
  padding: $base-spacing;
}

.filter {
  flex-grow: 0;
  flex-shrink: 0;
  text-align: left;

  @media only screen and (min-width: 35em) {
    padding-left: $l-spacing;
    width: 15rem;
  }
}

.bountyMetadata {
  border: $base-border;
  border-radius: $base-border-radius;
  display: flex;
  flex-direction: column;

  .metadata {

    &Section {
      padding: $m-spacing;
      width: 100%;

      &:not(:last-child) {
        border-bottom: $base-border;
      }
    }

    &Item {
      &:not(:last-child) {
        padding-bottom: $base-spacing;

        @media only screen and (min-width: 35em) {
          padding-bottom: $m-spacing;
        }
      }
    }

    &Icon {
      color: $brand-grey;
      padding-right: $m-spacing;
      float: left;
    }

    &Input {
      padding-right: $s-spacing;
    }
  }
}

.applicationRequiredBounty {
  display: flex;
  padding: $m-spacing $m-spacing;
  border-bottom: $base-border;
  background: $brand-nearWhite;

  .metadataInput {
    color: $brand-red;
  }

  .metadataTooltip {
    margin-left: $m-spacing;
  }
}

.social {
  margin-top: $xxl-spacing;
  text-align: center;
}

.descriptionSection {
  border-top: $base-border;
  margin-top: $l-spacing;
  margin-left: -$m-spacing;
  margin-right: -$m-spacing;
  padding: $l-spacing $m-spacing;
  flex-grow: 1;

  @media only screen and (min-width: 35em) {
    margin-top: -$l-spacing;
    margin-bottom: -$l-spacing;
    margin-left: 0;
    margin-right: 0;
    padding: $xl-spacing $xl-spacing $xxl-spacing $m-spacing;
    border-top: none;
    border-right: $base-border;
  }
}

.label {
  margin-bottom: $base-spacing;
}

.labelGroup {
  word-wrap: break-word;
  margin-right: $m-spacing;
}

.bountyPageCards {
  border-radius: 0;
  max-width: 100%;
  overflow-x: hidden;

  @media only screen and (min-width: 48em) {
    border-radius: $base-border-radius;
    margin-bottom: $xxl-spacing;
  }

  > div {
    padding: $m-spacing;

    @media only screen and (min-width: 35em) {
      padding: $l-spacing;
    }
  }
}
