@import "~styles/variables.scss";

.bountyPageCardHeader {
  padding: $m-spacing;

  @media only screen and (min-width: 35em) {
    padding: $l-spacing;
  }

  @media only screen and (min-width: 48em) {
    padding: $xl-spacing 0;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media only screen and (min-width: 35em) {
    flex-wrap: nowrap;
  }
}

.body {
  height: 100%;
}

.centeredBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ethBox {
  padding: $m-spacing;
  background-color: $brand-purple-hover;
  border-radius: $base-border-radius;
  text-align: center;
  height: fit-content;
  white-space: nowrap;

  @media only screen and (min-width: 35em) {
    padding: $l-spacing;
    margin-right: $l-spacing;
  }
}

.bountyHeader {
  padding-top: $l-spacing;
  text-align: left;
  width: 100%;

  @media only screen and (min-width: 35em) {
    padding-top: 0;
  }
}

.categories {
  margin-top: $base-spacing;
  display: flex;
  flex-wrap: wrap;
}

.stage {
  position: absolute;
  right: 0;
  top: 0;

  @media only screen and (min-width: 35em) {
    position: relative;
    right: 0;
    top: 0;
  }
}

.avatar {
  margin-top: $m-spacing;
}

.usd {
  font-size: $h3-font-size;
  display: inline-block;
  padding-right: $base-spacing;

  @media only screen and (min-width: 35em) {
    display: block;
    font-size: $h2-font-size;
    padding: 0;
    padding-bottom: $base-spacing;
  }
}

.currency {
  opacity: 0.6;
  display: inline-block;
}

.pill {
  margin-top: $s-spacing;
  opacity: 0.6;
}

.pageBody > div {
  display: flex;
  flex-direction: column;
  padding: $m-spacing;

  @media only screen and (min-width: 35em) {
    padding: $l-spacing;
    flex-direction: row;
  }
}

.description {
  text-align: left;
  padding: $base-spacing;
}

.filter {
  flex-grow: 0;
  flex-shrink: 0;
  text-align: left;

  @media only screen and (min-width: 35em) {
    padding-right: $l-spacing;
    width: 15rem;
  }
}

.bountyMetadata {
  border: $base-border;
  border-radius: $base-border-radius;
  display: flex;
  flex-direction: column;
  margin-top: $xxl-spacing;

  .metadata {

    &Section {
      padding: ($m-spacing * 1.5) $m-spacing;
      width: 100%;

      &:not(:last-child) {
        border-bottom: $base-border;
      }
    }

    &Item {
      &:not(:last-child) {
        padding-bottom: $base-spacing;

        @media only screen and (min-width: 35em) {
          padding-bottom: $m-spacing;
        }
      }
    }

    &Icon {
      color: $brand-grey;
      padding-right: $base-spacing;
      float: left;
    }

    &Input {
      padding-right: $s-spacing;
    }

    &Label {
    }
  }
}

.social {
  margin-top: $xxl-spacing;
  text-align: center;
}

.descriptionSection {
  border-top: $base-border;
  margin-top: $l-spacing;
  margin-left: -$m-spacing;
  margin-right: -$m-spacing;
  padding: $l-spacing $m-spacing;
  width: 100%;

  @media only screen and (min-width: 35em) {
    margin-top: -$l-spacing;
    margin-bottom: -$l-spacing;
    margin-left: 0;
    margin-right: -$l-spacing;
    padding: $xl-spacing $xl-spacing $xxl-spacing $xl-spacing;
    border-top: none;
  }
}

.label {
  margin-bottom: $base-spacing;
}

.labelGroup {
  word-wrap: break-word;
  margin-right: $m-spacing;
}

.submissionsAndCommentsCard {
  border-radius: 0;

  @media only screen and (min-width: 48em) {
    border-radius: $base-border-radius;
    margin-bottom: $xxl-spacing;
  }

  > div {
    padding: $m-spacing;

    @media only screen and (min-width: 35em) {
      padding: $l-spacing;
    }
  }
}
