@import "~styles/variables.scss";

.tabsContainer {
  padding: 1px 0;
  position: relative;
  margin-left: -$m-spacing;
  margin-right: -$m-spacing;

  @media only screen and (min-width: 35em) {
    margin-left: -$l-spacing;
    margin-right: -$l-spacing;
  }

  &:not(:last-child):after {
    position: absolute;
    content: '';
    border-bottom: $base-border-width solid $brand-lightGrey;
    width: 100%;
    transform: translateX(-50%);
    left: 50%;
  }
}

.tab {
  flex: 1;
  justify-content: center;
  padding-top: 0;
  padding-bottom: $m-spacing;
  margin-right: 0;

  @media only screen and (min-width: 35em) {
    padding-bottom: $l-spacing;
  }
}

.tabText {
  @media only screen and (min-width: 35em) {
    font-size: $h3-font-size;
  }
}

.bodyLoading {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  min-height: 15rem;
}

.zeroState {
  max-width: 25rem;
  padding: $xxl-spacing;
}

.newCommentForm {
  position: relative;
  margin-left: -$m-spacing;
  margin-right: -$m-spacing;
}

.submissionItem {
  color: $brand-darkGrey;
  padding: $xl-spacing 0 $l-spacing;
  position: relative;
}

.commentItem {
  padding: $l-spacing 0;
  position: relative;
  border-radius: $base-border-radius;
  margin-top: -$base-border-width;
}

.loadMoreButton {
  margin-top: $xl-spacing;
  padding: $m-spacing;
  position: relative;
  text-align: center;
  z-index: 999;

  @media only screen and (min-width: 35em) {
    padding: 0;
  }

  button {
    position: relative;
    width: 100%;
    z-index: 999;
  }
}
