@import "~styles/variables.scss";

.cardNotificationContainer {
  height: 45px;
/*  cursor: pointer;
  display: flex;
  justify-content: space-between;*/
  padding: 5px 20px;
/*  min-width: 600px;*/
  border-bottom: 1px solid $brand-lightGrey;
}

.cardNotificationContainer:hover {
  background-color: $brand-nearWhite;
}

.leftColumn {
/*  width: 90%;*/
  height: 100%;
/*  display: flex;
  align-items: center;*/
}

.notificationDot {
  width: 25px;
  height: 100%;
/*  display: flex;
  align-items: center;*/
  color: $brand-red;
  font-size: 10px;
}

.profilePic {
/*  display: flex;
  align-content: center;*/
  margin-right: 10px;
}

.textArea {
/*  display: flex;*/
}

.textCell {
  padding-left: 5px;
  padding-right: 5px;
  width: fit-content;
}

.space {
  padding-left: 5px;
}

.dateText {
  text-align: right;
}

.rightColumn {
/*  width: 10%;
  display: flex;
  align-items: center;*/
  padding-right: 5px;
}
