@import "~styles/variables.scss";

.profilePage {
  margin-top: 55px;
  margin-left: 55px;
  width: 100%;
  min-height: 100%;
  height: fit-content;
}

.profile {
  height: 400px;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*flex-direction: column;*/
  padding-left: $center-padding-left;
  padding-right: $center-padding-right;
}

.profilePic {
  /*display: flex;*/
  height: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  /*margin-bottom: 1rem;*/
  /*flex-direction: column;*/
}

.profileInfo {
  /*display: flex;*/
  width: 100%;
  justify-content: center;
}

.profileTitle {
  margin-top: 2rem;
  margin-bottom: 10px;
}

.profileHeader {
  /*display: flex;*/
  margin-bottom: 1rem;
}

.about {
  /*display: flex;*/
  /*justify-content: flex-end;*/
  /*flex-direction: column;*/
  /*padding-left: 5rem;*/
  /*padding-right: 20px;*/
  width: 100%;
  height: 50%;
  border-right: 1px solid $brand-lightGrey;
}

.aboutData {
  /*display: flex;*/
  /*flex-direction: column;*/
  height: 100px;
}

.aboutDataCell {
  /*display: flex;*/
  /*flex-direction: column;*/
  justify-content: center;
  padding-top: 10px;
}

.skills {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
 /* padding-left: 20px;
  padding-right: 20px;*/
  /*width: 100%;*/
  height: 50%;
  border-right: 1px solid $brand-lightGrey;
}

.skillsData {
  /*display: flex;*/
  /*align-content: space-around;*/
  height: 100px;
}

.chipBar {
  display: flex;
  flex-wrap: wrap;
  height: 80px;
}

.chip {
  margin-left: 2px;
  margin-right: 2px;
}


.networkStats {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  /*padding-left: 10px;*/
  padding-right: 20px;
  width: 100%;
  height: 50%;
  border-right: 1px solid $brand-lightGrey;
}

.networkHeader {
  /*display: flex;*/
  /*justify-content: center;*/
  margin-bottom: 1rem;
}

.networkStatsCircle {
  /*display: flex;*/
  /*justify-content: center;*/
  margin-bottom: 1rem;
}

.networkStatsData {
  /*display: flex;*/
  /*height: 10rem;*/
  /*justify-content: space-around;*/
  /*align-items: space-around;*/
}

.networkStatsDataCell {
  /*display: flex;*/
  /*flex-direction: column;*/
  text-align: center;
  width: 100%;
}

.elsewhere {
  /*display: flex;*/
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding-left: 3rem;
  height: 50%;
}

.elsewhereData {
  display: flex;
  height: 100px;
  text-align: left;
  /*flex-direction: column;*/
  justify-content: space-between;
}

.tabs {
  /*display: flex;*/
  justify-content: center;
  padding-left: $center-padding-left;
  padding-right: $center-padding-right;
}

.bounties {
  /*display: flex;*/
  /*// justify-content: space-between;*/
  /*flex-direction: column;*/
  /*min-height: 52%;*/
  /*height: fit-content;*/
  height:100%;
  background-color: $brand-lightGrey;
  padding-left: $center-padding-left;
  padding-right: $center-padding-right;

}

.sortBy {
  height: 30px;
  margin-top: 20px;
  width: 100%;
  /*display: flex;*/
  /*justify-content: flex-end;*/
  align-items: center;
}

.bountiesBody {
  /*display: flex;*/
  margin-top: 20px;
}

.refineBy {
  width: 100%;
}

.bountyCards {
  width: 100%;
  border-radius: 4px;
}

.bountyCard {

}